* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: #f4fdf4;
    height: 100%;
}

#container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr 0.5fr;
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #092a06;
}

.logo {
    font-size: 4rem;
    grid-column: 2;
    justify-self: center;
    align-self: center;
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    color: #eaffd6;
}

.logo::before {
    content: 'do';
    color: #def1a0;
}

.modes {
    background-color: #353535;
    color: white;
    width: 50px;  
    height: 50px;
    justify-self: end;
    align-self: center;
    margin-right: 10%;
    border-radius: 10px;
}

#main-container {
    display: grid;
    grid-template-columns: 1.5fr 6fr;
}

.navigation-container {
    display: grid;
    grid-template-rows: 2.5fr 6fr;
    background-color: #c0f1bb;
}

.top-nav-container,
.bottom-nav-container {
    display: grid;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-top: 5%;
}

.top-nav-container {
    gap: 5%;
}

.top-nav-buttons,
.project-name {
    border: none;
    font-size: 1.5rem;
    color: #353535;
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    background-color: #c0f1bb;
    justify-self: start;
    text-align: left;
    width: 90%;
}

.top-nav-buttons:hover,
.project-name:hover {
    color: #1c8a06;
    background-color: #b0e6aa;
    border-radius: 10px;
}

.bottom-nav-container {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: #353535;
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    gap: 5%;
}

.bottom-nav-header {
    font-size: 2rem;
    color: #1c8a06;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
}

.container-for-projects {
    display: grid;
    height: auto;
    gap: 10px;
}


.project-delete {
    height: 100%;
    width: 20%;
    border-radius: 15px;
    font-size: 1rem;
    border-color: rgb(245, 112, 112);
    box-shadow: 2px 2px 5px rgb(223, 67, 67);
    background-color: rgb(255, 88, 88);
    color: white;
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
}

.add-project-button {
    font-size: 1.5rem;
    color: #353535;
    font-family: 'JelleeBold';
    font-weight: normal;
    border-color: #e1fd84;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #b2c76e;
    font-style: normal;
    width: 90%;
    height: 10%;
    background-color: #def1a0;
}

/* CONTENT SECTION */

.content-container {
    display: grid;
    grid-template-rows: 1.5fr 8fr;
}

.top-content-container {
    display: grid;
    place-items: center;
    grid-template-columns: 8fr 1fr;
    margin-top: 1%;
    margin-right: 2%;
}

.content-header {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    color: #353535;
    font-family: 'JelleeBold';
    font-weight: normal;
    background-color: #def1a0;
    height: 80%;
    width: 80%;
    box-shadow: 5px 5px 10px #b2c76e;
    border-radius: 20px;
}

.content-button {
    border-color: #56d24b;
    font-size: 5rem;
    color: white;
    height: 100%;
    width: 75%;
    border-radius: 500px;
    box-shadow: 5px 5px 10px #56d24b;
    background-color: #2dd01e;
}

.bottom-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3%;
}

.project-form-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.project-add-button {
    width: 15%;
    font-size: 1rem;
    color: white;
    background-color: #2dd01e;
    border-color: #56d24b;
    box-shadow: 2px 2px 5px #56d24b;
    border-radius: 15px;
}

#project-name {
    height: 100%;
    width: 100%;
    color: #353535;
    font-family: 'JelleeBold';
    font-weight: normal;
    border-radius: 5px;
}


/* FOOTER */

#footer {
    display: grid;
    font-family: 'JelleeBold';
    font-weight: normal;
    place-items: center;
    background-color: #092a06;
    color: white;
}


/* DARK MODE */